<nav class="pagination" role="pagination">
	<ul>
		{% if paginator.previous_page %}
			{% if paginator.previous_page == 1 %}
				<li>
					<a class="prev" href="{{ "/" | prepend: site.baseurl }}" title="Articles new">
						<i class="fa fa-arrow-left" aria-hidden="true"></i>
					</a>
				</li>
			{% else %}
			<li>
				<a class="prev" href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/" title="Articles new">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
				</a>
			</li>
			{% endif %}
		{% endif %}

		<li>
			<span class="page-number">Página {{paginator.page}} de {{paginator.total_pages}}</span>
		</li>

		{% if paginator.next_page %}
			<li>
				<a class="nex" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/" title="Articles old">
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
				</a>
			</li>
		{% endif %}
	</ul>
</nav>