<div id="disqus_thread"></div>

<script type="text/javascript">
  var disqus_loaded = false;
  var disqus_shortname = '{{ site.data.informations.disqus_shortname }}';
  var disqus_identifier = '{{ page.id }}';
  var disqus_title = '{{ page.title }}';
  var disqus_url = '{{ site.url }}{{ post.url }}';
  var scroll_target = document.getElementById("disqus_thread");
  /*var disqus_developer = 1;*/
  function load_disqus(){
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0])
      .appendChild(dsq);
    
    disqus_loaded = true;
  };
  function scroll_event(){
    if ((window.innerHeight + window.scrollY) >= (scroll_target.offsetHeight - 200)) {
        
        if (disqus_loaded==false){
            load_disqus();
        }
    }
  };
  if(document.addEventListener){
    window.addEventListener('scroll', scroll_event, false);
  } else if(document.attachEvent){
    window.attachEvent('onscroll', scroll_event, false);
  }
</script>

<noscript>
  Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>