<nav role="pagination">
	{% if paginator.total_pages > 1 %}
		<ul class="pagination">
			{% if paginator.previous_page %}
				{% if paginator.previous_page == 1 %}
					<li>
						<a class="prev" href="{{ "/" | prepend: site.baseurl }}" title="Volta para a página {{ previous_page }}">
							<i class="fa fa-angle-left" aria-hidden="true"></i>
						</a>
					</li>
				{% else %}
					<li>
						<a class="prev" href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/" title="Volta para a página {{ previous_page }}">
							<i class="fa fa-angle-left" aria-hidden="true"></i>
						</a>
					</li>
				{% endif %}
			{% endif %}

			{% for page in (1..paginator.total_pages) %}
				{% if page == 1 %}
					<li {% if page == paginator.page %}class="active"{% endif %} title="Ir para a página {{ page }}">
						<a class="prev" href="{{ "/" | prepend: site.baseurl }}" >
							{{ page }}
						</a>
					</li>
				{% elsif page == paginator.page %}
					<li class="active">
						<a href="#" onclick="return false;" title="Página atual">
							{{ page }}
						</a>
					</li>
				{% else %}
					<li>
						<a class="prev" href="{{ site.baseurl }}/page/{{ page }}/" title="Ir para a página {{ page }}">
							{{ page }}
						</a>
					</li>
				{% endif %}
			{% endfor %}

			{% if paginator.next_page %}
				<li>
					<a class="nex" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/" title="Avançar para a página {{ previous_page }}">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</a>
				</li>
			{% endif %}
		</ul>
	{% endif %}
</nav>