// Start the Bootstrap
@import "bootstrap";

//=============== VENDORS ===============
@import "components/font-awesome/font-awesome";

//=============== COMPONENTS ===============
@import "components/medias";
@import "components/post-list";
@import "components/navbar";
@import "components/social-medias";
@import "components/page-content";
@import "components/search";