.page-content {
	background-color: #fff;
	border-radius: 7px;
	overflow: hidden;
	margin-bottom: 15px;

	.the-content, 
	.post-meta {
		padding: 30px;
	}

	.post-meta {
		a {
			color: $text-color;
		}
	}
}