---
layout: default
---
{% if page.image != "" and site.data.post.main_image %}{% assign post_image = true %}{% else %}{% assign post_image = false %}{% endif %}
<div class="container">
	<div class="page-content">
		<article class="post-open">
			<header class="post-header">
				{% if post_image %}
				<img src="{{ site.content | prepend: site.baseurl }}{{ page.image }}" alt="{{ site.data.texts.alt_image }} {{ page.title }}" class="img-responsive">
				{% endif %}
				<div class="title text-center">
					<h1>{{ page.title }}</h1>
				</div>
			</header>

			<div class="the-content">
				{{ content }}
			</div>

			<footer class="post-meta">
				{% include share.html %}
				
				{% if site.data.post.show_date %}
				<span class="pull-right">{{ site.data.texts.posted_at }} {{ page.date | date:site.data.post.date_format }}</span>
				{% endif %}
			</footer>
		</article>
		<section class="post-comments">
			<div class="the-content">
				<h3><i class="fa fa-comments-o" aria-hidden="true"></i> {{ site.data.texts.comments_text }}</h3>
				{% include comments.html %}
			</div>
		</section>
	</div>	
</div>